body{
font-family:Arial;
margin:0;
color:white;
}

.theme-blue{
background:linear-gradient(270deg,#001f4d,#0066ff,#00c6ff);
background-size:600% 600%;
animation:move 10s infinite;
}

.theme-pink{
background:linear-gradient(270deg,#ff4fa3,#ff7eb3,#ff2e63);
background-size:600% 600%;
animation:move 10s infinite;
}

.theme-dark{
background:linear-gradient(270deg,#0f2027,#203a43,#2c5364);
background-size:600% 600%;
animation:move 10s infinite;
}

@keyframes move{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

header{
display:flex;
justify-content:space-between;
padding:20px;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:20px;
}

.card{
background:rgba(255,255,255,0.15);
padding:20px;
border-radius:12px;
backdrop-filter:blur(10px);
}

input,select{
width:100%;
padding:10px;
margin-bottom:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
border:none;
border-radius:6px;
background:black;
color:white;
cursor:pointer;
}

.bankCard{
background:linear-gradient(135deg,#ff4fa3,#0066ff);
padding:20px;
border-radius:10px;
margin-top:10px;
}
