name: Deploy to DEV
 
on:
  workflow_dispatch:
  push:
    branches: [ develop ]
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
      - name: Trigger deploy-dev workflow
        id: dispatch
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            try {
              const result = await github.rest.actions.createWorkflowDispatch({
                owner: 'Narsing-s',
                repo: 'bank-account-api',
                workflow_id: 'deploy-dev.yaml',
                ref: 'main',
                inputs: {}
              });
              console.log(result);
            } catch (error) {
              console.error(error);
              core.setFailed(error);
            }
 
      - name: Build
        run: |
          echo "Build triggered. Please check corresponding CI-CD repo for build status"
 
