name: Deploy to DEV
 
on:
  workflow_dispatch:
 
jobs:
  build-deploy:
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v3
 
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
 
      - name: Build Mule Application
        run: mvn clean package
 
      - name: Deploy to Anypoint CloudHub
        run: |
          mvn -DmuleDeploy deploy \
            -Danypoint.clientId=${{ secrets.ANYPOINT_CLIENT_ID }} \
            -Danypoint.clientSecret=${{ secrets.ANYPOINT_CLIENT_SECRET }} \
            -Danypoint.org=${{ secrets.ANYPOINT_ORG_ID }} \
            -Danypoint.env=${{ secrets.ANYPOINT_ENV_ID }} \
            -Danypoint.region=${{ secrets.ANYPOINT_REGION }}
 
